{% extends 'layout.html' %}
{% block title %}praise点赞{% endblock %}
{% block head %}
{% parent %}
    <link rel="stylesheet" href="../css/main.css">
{% endblock %}
{% block content %}
    <div class="count-div">
        当前已点赞:<span id="count"></span>次
    </div>
    <div class="hand" id="thumb">
        <div class="finger thumb"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="arm"></div>
    </div>
    <span class="hide" id="animation">+1</span>

    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/systemjs/0.20.18/system.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/connect-api.js"></script>
    <!-- <script src="../js/thumb.js"></script> -->
    <script>
        $(function() {
            SystemJS.import('../js/index.js').then(function(m) {
                // console.log(new m.default);
                $.extend({
                    thumb: m.default.Thumb
                });
                callBack();
            });

            function callBack() {
                // 实例化组件
                var run = new $.thumb(0, $('#thumb'));
                run.clickAction();
            }
        })
    </script>
{% endblock %}